<a href="https://apssdc.in"><img src="https://camo.githubusercontent.com/e7501c5948d48f88dad8ab2ab6bd448e1cfd6c79/68747470733a2f2f64726976652e676f6f676c652e636f6d2f75633f6578706f72743d646f776e6c6f61642669643d3135414b51365f2d42697857344b366d4c36525070684635454b58715946327a6a" width="900" align="center"></a>

<h1><center>Python Basics</center></h1>

## Today Objectives


- Ouput & Input
- Variables in Python
- Type Conversions in Python
- Operators in Python
- Conditional Statements

In [1]:
print("Hello World")

Hello World

In [3]:
print("Todays date is",29)

Todays date is 29

In [4]:
print("Todays date is",29, sep = '-')

Todays date is-29

In [5]:
print(1,2,3,4,5,6, sep = '\t')

1	2	3	4	5	6

In [6]:
print(1,2,3,4,5,6, sep = 'abc')

1abc2abc3abc4abc5abc6

In [7]:
print("Hello World")
print("Hello World")
print("Hello World3")

Hello World
Hello World
Hello World3

In [8]:
print("Hello World", end = '\t')
print("Hello World")
print("Hello World3")

Hello World	Hello World
Hello World3

### Variables

It is the named memory location which holds some value


### Properties of declaring a variable

- It can contain AZaz09_
- It shouldn't start with a number
- No special characters should included in variable name except `_`
- Keywords are not allowed
- Case Sensitive

In [9]:
a = 10
A = 5

In [12]:
a = 55
_a = 2256
# 1a = 66
# a-b = 23+66
_ = 625
a9 = 'Python'
a9_ = 'APSSDC'

### Data Types in Python


- Primary Data Types -> int, float, complex, string, boolean
- Secondary Data Types -> Containers -> List, Tuple, Dictoinary, set

In [13]:
a = 55
b = 55.66
c = 5 + 6j
d = True
e = 'a+5/.,;'
f = ['python', 65, 5+6j, 55.665]
g = ('python', 65, 5+6j, 55.665)
h = {'Name': 'Python'}
i = {1,2,3,4}

In [14]:
print(type(a))

<class 'int'>

In [15]:
a = 55.66

print(type(a))

<class 'float'>

In [17]:
print(type(c), type(i))

<class 'complex'> <class 'set'>

In [18]:
a = input()

123

In [19]:
abc = 556.6

In [20]:
print(type(a))

<class 'str'>

In [21]:
b = input()

[1, 2, 3]

In [22]:
print(b, type(b))

[1, 2, 3] <class 'str'>

### Type Conversions

In [25]:
a = int(input())


print(a, type(a))

123
123 <class 'int'>

In [26]:
a = int(input())


print(a, type(a))

256.66

ValueError: invalid literal for int() with base 10: '256.66'

In [28]:
a = float(input())


print(a, type(a))

125.336
125.336 <class 'float'>

### Number System

- Decimal -> 10 -> 0-9
- Binary -> 2 -> 0,1 
- Octal -> 8 -> 0-7
- Hexadecimal -> 16 -> 0-F

In [29]:
a = 55

print(bin(a), oct(a), hex(a))

0b110111 0o67 0x37

In [30]:
print(int('110111', 2), int('67', 8), int('37', 16))

55 55 55

In [31]:
print(ord('a'))

97

In [32]:
print(chr(97))

a

### Operators in Python


- Arthematic Operator -> +, -, *, /, %, //, **
- Logical -> and, or, not
- Comparision/relational -> <, >, <=, >=, ==, !=
- Bitwise Operator -> &(and), |(or), ~(Not), ^(XOR), >>(right shift), <<(left shift)
- Assignment Operator -> +=, -=, /=, %=, //=, **=
- Identity operators -> is, not is
- Membership operators -> in, not in

In [35]:
a = 4
b = 10


print(a+b, a-b, a*b, a/b, a % b, a//b, a ** 2, sep = '->')

14->-6->40->0.4->4->0->16

### and (inp1 * inp2)

|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|

### or (inp1 + inp2)

|inp1| inp2|inp1 or inp2|
|----|----|----|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|

### not 

|inp1|not inp1 |
|----|----|
|F|T|
|T|F|

In [40]:
a = 1
b = 0
c = '0'

print(a and b, a or b, not a, a and c, type(a and c), not c, sep = '->')

0->1->False->0-><class 'str'>->False

In [39]:
print(c and a, a or c)

1 1

In [41]:
a = 5
b = 6
c = 0

print(a and b)

6

In [42]:
print(a and c, c and a)

0 0

In [43]:
a = 5
b = 6

print(a < b, a>b, a == b)

True False False

### Bitwise Operators


&, |, ~, ^

```
a = 4
b = 10



      0000 -> 0 -> and
      1110 -> 14 -> or
      
~a
4  -> 0100
      0001
     -0101 -> *5
     
```

In [44]:
a = 4
b = 10

print(a & b, a | b, ~a)

0 14 -5

### 

XOR -> A'B + AB'

|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|F|
|T|F|T|
|F|T|T|
|F|F|F|

```
a = 4  -> 0100
b = 10 -> 1010
          _____
          1110 -> 14
```

In [45]:
print(a ^ b)

14

### Left Shift and right shift



a = 4 -> 0100


a << 2 -> 010000 -> 16

a << 2 -> 0001 -> 1

In [46]:
a = 4

print( a << 2, a >> 2)

16 1

In [47]:
a = 5

a = a + 10
print(a)
a += 10
print(a)
a -= 5
print(a)
a **= 2
print(a)

15
25
20
400

### Membership Operators

In [48]:
a = 'Python'
b = 'Py'
c = 'py'

print(a in b, a in c, a not in c)

False False True

### Identity Operators

In [61]:
a = 5
b = 5.5
c = 5
d = [1,2,3]
e = [1,2,3]
f = d

In [55]:
print(f)

[1, 2, 3]

In [56]:
print(a == c, d == e, d == f)

True True True

In [58]:
print(id(a))
print(id(c))
print(id(d))
print(id(e))
print(id(f))

140719521806240
140719521806240
2762794741312
2762794754112
2762794741312

In [60]:
d.append('Python')

print(d)
print(f)

[1, 2, 3, 'Python', 'Python']
[1, 2, 3, 'Python', 'Python']

In [64]:
print(d,e,f)
print(d is e, d is f, e is f, d is not e)

[1, 2, 3] [1, 2, 3] [1, 2, 3]
False True False True